.filter {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}

.filter button {
  padding: 8px;
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 12px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
}

#active {
  background-color: whitesmoke;
  color: black;
}

.filter button:hover {
  transition: 0.3s all linear;
  background-color: whitesmoke;
  color: black;
}
#home {
  background: linear-gradient(
    90deg,
    rgba(22, 0, 255, 1) 0%,
    rgba(238, 130, 238, 1) 100%
  );
}
