.filter {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}

.filter button {
  padding: 8px;
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 12px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.filter button:hover {
  transition: 0.3s all linear;
  background-color: whitesmoke;
  color: black;
}
