@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@500&display=swap');

.header {
  font-family: 'Tektur', cursive;
  display: flex;
  justify-content: center;
}
.header span:nth-child(1) {
  background: linear-gradient(90deg, rgb(0, 255, 234) 0%, rgb(7, 58, 187) 100%);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  font-size: 25px;
  padding-left: 0.5rem;
  color: white;
}

.header span:nth-child(2) {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 0, 1) 0%,
    rgba(255, 59, 0, 1) 100%
  );
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding-right: 0.5rem;
}

.line__container {
  display: flex;
  justify-content: center;
}

.line hr {
  margin-top: 1rem;
  opacity: 0.3;
  width: 20rem;
  display: flex;
}
