.search__container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.filter-section {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#home {
  padding: 8px;
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 12px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  height: 50px;
  margin-top: 1rem;
}

#home:hover {
  transition: 0.3s all linear;
  background-color: whitesmoke;
  color: black;
}
